:root {
    --section-color: var(--red);
    --project-type: var(--green);
}

.toc-nav {
    font-size: 14px;
    position: fixed;
    background-color: #efefef;
    padding: 80px 1em;
    width: 280px;
    height: 100%;
    overflow: scroll;
    z-index: 1;
}

.toc-nav img {
    width: 130px;
    margin-bottom: 1em;
}

.section-title {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 1.1em;
    margin-bottom: 0;
}

.subsection-title {
    margin-top: 0.3em;
}

.toc-nav li,
aside li {
    list-style: none;
}

.current {
    color: var(--textColor);
    font-weight: 800;
}

/* --------hamburger icon--------- */
.nav-toggle {
    display: none;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    top: 0.8rem;
    left: 2rem;
    position: fixed;
    z-index: 5;
    /* background: red; */
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    background: white;
    transition: all 500ms ease;
    content: '';
    height: 0.25rem;
    width: 100%;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.5rem;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.75rem;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    transform: rotate(-45deg);
}

/* --------------------------------------------------------- */
.section-toc {
    display: block;
    width: 260px;
    font-size: 14px;
    position: fixed;
    top: 110px;
    left: 1100px;
    padding-left: 1em;
    border-left: 3px solid var(--section-color);
    /* z-index: -1; */
}

.section-toc li {
    padding-bottom: 0.4em;
}

.section-toc-title {
    font-size: 10px;
    text-transform: uppercase;
}

.current {
    color: var(--textColor);
    font-weight: 800;
}

main {
    padding: 120px 0 0 350px;
    max-width: 100%;
    margin: 0;
}

.section-label {
    color: var(--section-color);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}

.content-wrap {
    max-width: 700px;
}

.content-wrap ul,
.content-wrap ol {
    margin-left: 1em;
}

.content-wrap h1 {
    text-transform: uppercase;
}

.content-wrap h3 {
    padding-top: 2em;
    font-weight: 800;
}

main img {
    width: 100%;
    margin-bottom: 2em;
}

.footnote {
    font-size: 0.9em;
    font-style: italic;
}

a.engagement-btn,
.external-btn {
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin: 1em 0;
    color: white;
    background-color: #4db6ac;
    padding: 5px 30px;
    border-radius: 30px;
}

a.engagement-btn:hover,
.external-btn:hover {
    color: white;
    background-color: var(--dark);
}

.engagement-btn {
    margin-bottom: 4em !important;
}

.external-btn {
    background-color: var(--red);
}

.firm-link a {
    color: var(--textColor);
    transition: 400ms ease-in;
}

.firm-link a:hover {
    color: var(--red);
}

.character-img {
    background-color: #eee;
    padding: 0.8em;
    margin-bottom: 2em;
}

.img-caption {
    font-size: 14px;
    font-style: italic;
}

.character-img img,
.character-img p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.response-rate {
    display: block;
    width: 50%;
    margin-bottom: 4em;
}

/* ------------------------------------------------------------ */
.goal-img {
    font-size: 3em;
    color: white;
    align-self: center;
    background-position: center;
    padding: 1em 0 2em 1em;
    margin-top: 2em;
    /* background-color: red; */
}

#enhance .goal-img {
    background-image: url('../img/enhance.png');
}

#connect .goal-img {
    background-image: url('../img/connect.png');
}

#reinvigorate .goal-img {
    background-image: url('../img/reinvigorate.png');
}

#implement .goal-img {
    background-image: url('../img/implement.png');
}



/* -------------------------------------------------------------- */

#project-list a {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#project-list a:hover {
    color: var(--red);
}

/* -------------------------------------------------------------- */
.fencing-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.fencing-wrapper img {
    margin-bottom: 0;
}

.fencing-icon {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: var(--textColor);
    width: 25px;
    height: 25px;
    border-radius: 30px;
    padding-top: 3px;
}


/* -------------------------------------------------------------- */
.guidelines-wrap {
    margin-top: 4em;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-content: ;
}

.guidelines-wrap h3 {
    padding-top: 0 !important;
}

.guidelines-wrap p:last-child {
    margin-bottom: 0;
}

.native-plants-wrap {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.plant-tile {
    margin-bottom: 2em;
}

.native-plants-wrap img,
.native-plants-wrap p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.name-common {
    font-weight: 800;
}

.name-scientific {
    font-style: italic;
    padding-bottom: 0.5em !important;
}

/* ------------------------------------------------------------- */

.existing-assessment {
    margin-bottom: 1em;
    border-bottom: 1px solid #999;
}

.existing-assessment h4,
.existing-assessment p,
.existing-assessment img {
    margin: 0;
}

.assess-heading-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-self: center;
    margin-bottom: 1em;
}

.assess-content-wrapper {
    margin-bottom: 2em;
}

.assess-content-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

}

.existing-assessment img {
    max-width: 300px;
}

.existing-assessment:last-child {
    margin-bottom: 8em;
}

.ranking-legend {
    list-style: none;
}

.fa-star,
.fa-star-half-alt {
    color: gold;
}

.grey-star {
    color: rgb(204, 204, 204);
}

/* -------------------------------------------------------------------- */

.life-cycle-chart {
    margin-top: 5em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 1fr;
}

.cycle-description {
    display: block;
    /* height: 200px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    padding: 1em;
    text-align: center;
    position: relative;
}

.cycle-description h3 {
    padding-top: 0.5em;
    margin-bottom: 0;
}

.lifecycle-bg {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: -1;
}

#design .lifecycle-bg,
#construction .lifecycle-bg,
#completion .lifecycle-bg {
    top: -65px;
}


.project-type {
    display: inline-block;
    margin-bottom: 3px;
    background: var(--project-type);
    padding: 2px 5px;
    border-radius: 5px;
}

/* ---------------------------------------------------------------------- */

table,
th,
td {
    border-bottom: 1px solid var(--darkgrey);
    border-collapse: collapse;
    text-align: center;
    font-weight: 300;
}

th,
td {
    padding: 20px 5px;
}

.table-top-header {
    border-bottom: 4px solid var(--green);
}

.content-wrap table h3 {
    font-size: 0.9em;
    text-transform: uppercase;
    /* line-height: 0.3em; */
    align-self: center;
    padding: 0;
    margin: 0;
}

.table-header {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0;
}

.life-cycle-phasing {
    font-size: 12px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.phase {
    background-color: #f1f5f1;
    padding: 3px;
}

.project-type {
    font-size: 13px;
    font-weight: 800;
}

.circle {
    color: #909090;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    /* border: 1px solid #999; */
}

.fa-play-circle {
    color: var(--blue);
}

.fa-check-circle {
    color: rgb(88, 184, 9);
}

.capital-cost-charts-wrapper {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: end;
}

/* ------------------------------------------------------------------- */

.board-members-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.board-members img {
    margin-bottom: 0;
}

#contact {
    margin-top: 3em;
    margin-bottom: 1em;
}

/* ------------------------------------------------------------------- */

.footer-nav-container {
    background-color: var(--section-color);
    width: 100%;
}

.footer-nav {
    padding: 2.3em 3em 0 350px;
    /* max-width: 1050px; */
    height: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* align-items: center; */
    /* background-color: pink; */
}

.footer-nav-next {
    text-align: right;
}

.footer-nav a {
    color: var(--textColor);
    opacity: 0.7;
}

.footer-nav a:hover {
    opacity: 1;
}

.footer-nav h3 {
    font-size: 1.3em;
    margin-bottom: 0;
}

.footer-nav p {
    font-size: 0.9em;
    margin-bottom: 0;
}

footer {
    /* position: absolute; */
    font-size: 12px;
    color: white;
    background-color: var(--dark);
    width: 100%;
    height: 60px;

}

.footer-container {
    height: 60px;
    padding-left: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
}

footer p,
footer p:last-child {
    margin-bottom: 0;
}

.lcs {
    text-align: right;
    padding-right: 3em;
}

footer a:hover {
    color: var(--yellow);
}


@media screen and (max-width: 1360px) {
    .section-toc {
        display: none;
    }

    main {
        width: 90%;
    }
}

@media screen and (max-width: 960px) {
    .toc-nav {
        left: -200rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: var(--vintage);
    }

    .toc-nav a {
        color: var(--textColor);
        opacity: 0.8;
    }

    .toc-nav.expanded {
        left: 0
    }

    .nav-toggle {
        display: block;
    }

    main {
        padding-left: 0;
        margin: 0 auto;
    }

    .footer-nav,
    .footer-container {
        width: 90%;
        padding: 2em 0 0 0;
        margin: 0 auto;
    }

    .footer-container {
        padding-top: 0;
    }

    .lcs {
        padding: 0;
    }

    .content-wrap,
    .footer-nav {
        max-width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .web-heading {
        padding-left: 6em;
        width: 100%;
    }

    .toc-nav li {
        margin-top: 1em;
    }

    .section-title {
        margin-top: 1.5em;
    }

    table,
    tr,
    th {
        font-size: 13px;
    }

    .project-type {
        font-size: 11px;
    }

    .circle {
        width: 15px;
        height: 15px;
    }

    .life-cycle-chart {
        /* background-color: red; */
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 380px) {
    .footer-nav {
        font-size: 0.85em;
    }
}